<div class="container">
  <% @lists.each do |list| %>
    <h1><%= list.name %></h1>
    <%= link_to "Edit", edit_group_list_path(@group, list), class: "btn btn-primary" %>
    <%= link_to "Delete", group_list_path(@group, list), method: :delete, class: "btn btn-primary" %>
    <%= link_to "See list items", group_list_path(@group, list) %>
  <% end %>
  <br>
  <br>
</div>
