<div class="container">
  <div class="header3">
    <% if @list.name.length < 9 %>
      <h3> < <%= @list.name %> Options</h3>
    <% else %>
      <h3> < <%= @list.name %> Opt...</h3>
    <% end %>
  </div>
</div>

<%= link_to "Add list item", new_group_list_list_item_path(@group, @list) %>
<%= render 'list_items/index' %>

