<div class="header3">
  <h3><%= link_to "<", group_lists_path(@group), class: "rounded-circle px-2 bg-primary" %></h3>
  <h3 class="uppercase"><%= link_to "Options #{@list.name}", edit_group_list_path(@group, @list) %></h3>
</div>

<%= render 'list_items/index' %>
<%= link_to "Add list item", new_group_list_list_item_path(@group, @list) %>

