<div class="container">
  <div class="header3">
    <% if @list.name.length < 9 %>
      <h3> < <%= @list.name %> Options</h3>
    <% else %>
      <h3> < <%= @list.name %> Opt...</h3>
    <% end %>
  </div>
</div>
