<p>Hi <%= params[:friend_email] %>,</p>

<p><strong><%= @sender_name %></strong> has invited you to join the <strong><%= @group_name %></strong> trip. </p>
<p><a href="https://www.haze.global ">Click here to sign up </a></strong> and start planning for your trip!</p>


