.card-expenses {
  overflow: hidden;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
}

.card-expenses-infos {
  width: 40%;
  height: 100%;
  background-color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-expenses-infos h2 {
  font-size: 16px;
  font-weight: bold;
}

.card-expenses-infos p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;

}

.card-expenses-infos a {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;

}

.card-expenses-infos .card-expenses-split {
  padding: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-expenses-split {
  width: 60%;
  height: 100%;
  background: $light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-expenses-split p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin: 0px;
}

#color-red {
  color: $brick;
  font-weight: bolder;
}

#color-green {
  color: green;
  font-weight: bolder;
}


