.card-expenses {
  overflow: hidden;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 5px 0px rgba(100,100,100,0.3);
}

.card-expenses-infos {
  width: 60%;
  height: 100%;
  background-color: $light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-expenses-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  color: $gray;
}

.card-expenses-infos p {
  font-size: 16px;
  line-height: 1.4;
  // opacity: .7;
  margin: 0px;
  color: $gray;
}

.card-expenses-infos a {
  font-size: 16px;
  line-height: 1.4;
  // opacity: .7;
  color: $gray;
  margin: 0px;
}

.card-expenses-infos .card-expenses-split {
  padding: 5px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-expenses-split {
  width: 40%;
  height: 100%;
  background: $light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border-left: $blue;
  // border-left-style: double;
}

.card-expenses-split p {
  font-size: 14px;
  line-height: 1.4;
  margin: 0px;
}

#color-red {
  color: $burgund;
  font-weight: bolder;
}

#color-blue {
  color: $blue;
  font-weight: bolder;
}


