<div class="landing">
  <div class=container>
    <h1 style="text-align: center;">H A Z E</h1>
    <%= link_to "Sign in", new_user_session_path, class: 'btn btn-info mx-auto d-flex justify-content-center', style: "width: 75vw;"%>
    <br>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-warning mx-auto d-flex justify-content-center', style: "width: 75vw;" %>
  </div>
</div>
