<div class="landing">

    <div class="py-5">
      <h1 style="text-align: center; color: white;"><strong>H A Z E</strong></h1>
      <h4 style="text-align: center; color: white;">Group Travel Made Easier</h4>
      <br>
      <%= link_to "Sign in", new_user_session_path, class: 'btn btn-info mx-auto d-flex justify-content-center', style: "width: 75vw; height: 80px; align-items: center", id: "sign-in" %>
      <br>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-warning mx-auto d-flex justify-content-center', style: "width: 75vw; height: 80px; align-items: center", id: "sign-up" %>
      <br>
      <h4 style="text-align: center; color: white;">Pin travel lists</h4>
      <h4 style="text-align: center; color: white;">Chat with friends</h4>
      <h4 style="text-align: center; color: white;">Track and split expenses</h4>
      <br>
      <br>
      <br>
      <br>
    </div>
</div>
