<div class="landing">

    <div class="py-5">
      <h1 style="text-align: center; color: white;">H A Z E</h1>
      <br>
      <br>
      <%= link_to "Sign in", new_user_session_path, class: 'btn btn-info mx-auto d-flex justify-content-center', style: "width: 75vw;", id: "sign-in" %>
      <br>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-warning mx-auto d-flex justify-content-center', style: "width: 75vw;", id: "sign-up" %>
    </div>
</div>
