.button {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  color: white;
  border-radius: 20px;
  width: 290px;
  height: 36px;
  margin: auto;
  border: none;
}

.button-sm {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  color: $white;
  border-radius: 20px;
  width: 145px;
  height: 36px;
  border: none;
  margin-right: 3px;
}

#button-color-light-blue {
  background-color: $light-blue !important;
}

.button-people {
  border: none;
  width: 100px;
  height: 20px;
  border-color: $yellow;
  color: $white;
  background-color: $burgund;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  &:hover{
    text-decoration: none;
  }
}
