.button {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  color: white;
  border-radius: 20px;
  width: 290px;
  height: 36px;
  margin: auto;
  border: none;
  text-decoration: none;
  // box-shadow: 0px 2px 5px 0px rgba(100,100,100,0.6);
}

.button-sm {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  color: $white;
  border-radius: 20px;
  width: 29vw;
  height: 36px;
  border: none;
  margin-right: 3px;
  text-decoration: none;
  // box-shadow: 0px 2px 5px 0px rgba(100,100,100,0.6);
}

.button-very-sm {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $burgund;
  color: $white;
  border-radius: 20px;
  width: 145px;
  height: 20px;
  border: none;
  margin-right: 3px;
  margin-top: 5px;
  // box-shadow: 0px 2px 5px 0px rgba(100,100,100,0.6);
}

#button-color-light-blue {
  background-color: $light-blue !important;
}

#button-groupchat {
  background-color: $burgund;
  color: $white;
}

#button-expenses {
  background-color: $brick;
  color: $white;
}

#button-lists {
  background-color: $yellow;
  color: $white;
}
