.button {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  color: white;
  border-radius: 20px;
  width: 290px;
  height: 36px;
  margin: auto;
  border: none;
  text-decoration: none;
}

.button-sm {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  color: $white;
  border-radius: 20px;
  width: 145px;
  height: 36px;
  border: none;
  margin-right: 3px;
  text-decoration: none;
}

#button-color-light-blue {
  background-color: $light-blue !important;
}


#button-groupchat {
  background-color: $brick;
  color: $white;
}

#button-expenses {
  background-color: $burgund;
  color: $white;
}

#button-lists {
  background-color: $yellow;
  color: $white;
}
