.card-banner {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('banner7.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 5px;
  margin-top: 5px;
  h4 {
    margin-left: 5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      color: $white !important;
    }
  }
}

