.modal-content {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  color: $white;
  border-radius: 20px;
  height: 350px;
  position: relative;
  width: 100vw;
}

.modal-title {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  border-radius: 30px;
  width: 290px;
  height: 36px;
}

.modal-button {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $blue;
  background-color: $white;
  border-radius: 20px;
  width: 290px;
  height: 36px;
  border: none;
  margin: 10px;
}

.modal-button-plus-sm {
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $white;
  background-color: $yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  &:hover{
    text-decoration: none;
  }
}

.close {
    color: $white;
    opacity: 1;
    font-size: 40px;
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: normal;
}

.groups {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  color: $white;
  border-radius: 20px;
  height: 200px;
  position: relative;
  width: 100%;
}

.btn-group {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  color: $blue;
  border-radius: 20px;
  height: 36px;
  border: none;
  margin: 10px auto;
  width: 65vw;
}

.list_items-content {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  color: $white;
  border-radius: 20px;
  height: 450px;
  position: relative;
}

.modal-split {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid $white;
  border-radius: 20px;
}

.modal-split-paid {
  padding: 10px;
}

.modal-split-owe {
  border-left: 1px solid $white;
  padding: 10px;
}

.modal-text {
  font-family: $headers-font;
  margin-top: 10px;
}
