.net-amount {
  width: 125px;
  height: 125px;
  border: 3px solid #6B0F1A;
  border-radius: 50%;
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6B0F1A;
  color: white;
  flex-direction: column;
}

#owed {
  margin: 0px;
  font-weight: bolder;
  font-size: 12px;
}

#sum {
  margin: 0px;
  font-weight: bolder;
  font-size: 20px;
}
