.button-plus-lg {
  border: none;
  width: 60px;
  height: 60px;
  color: $white;
  background-color: $yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-decoration: none;
  margin: 5px auto;
  &:hover{
    text-decoration: none;
  }
}

.button-plus-sm {
  border: none;
  width: 40px;
  height: 40px;
  color: $white;
  background-color: $yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-right: 5vw;
  &:hover{
    text-decoration: none;
  }
}

.label-for-plus-btn {
  color: $yellow;
  font-weight: bold;
}
