.button-plus-lg {
  position: absolute;
  width: 89px;
  height: 89px;
  right: 20px;
  top: 9px;
  color: $white;
  background-color: $yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover{
    text-decoration: none;
  }
}

.button-plus-sm {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 20px;
  top: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $white;
  background-color: $yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  &:hover{
    text-decoration: none;
  }
}

.label-for-plus-btn {
  position: absolute;
  right: 30px;
  top: 90px;
  color: $yellow;
  font-weight: bold;
}
